*.pyc
*/RootCore/lib
*/RootCore/root_config_generic
*/RootCore/obj

# Plotting file: inputs and outputs.
Plotting/*.txt
Plotting/*.root
Plotting/*.eps
Plotting/*.png
Plotting/*.pdf

# Ignore the asetup save files.
*.asetup*
.envBefore_asetup*
